.popup_mask {
    // display: none;
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.popup_box {
    display: none;
    position: fixed;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.50);
    border-radius: 2px;
    width: 300px;
    margin-left: -150px;
    z-index: 99999;
    left: 50%;
    top: 100px;
    margin: 0 auto;
    button.close {
        position: absolute;
        background: url("../../assets/images/icon_close.png") no-repeat;
        background-size: 24px;
        width: 24px;
        height: 24px;
        right: 9px;
        top: 9px;
        transition: all 300ms ease;
        &:hover {
            transform: rotate(30deg);
        }
    }
    .title {
        font-size: 14px;
        color: rgba(55, 55, 55, 0.80);
    }
    .content {
        margin-top: 14px;
        font-size: 12px;
        color: rgba(55, 55, 55, 0.60);
    }
}

.popup_box.active {
    animation: popup 300ms ease forwards;
}

input[type=checkbox] {
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid #cccccc;
    border-radius: 2px;
    width: 14px;
    height: 14px;
}

input[type=checkbox]:checked {
    background: url("../../assets/images/icon_verify@2x.png") center center no-repeat;
    background-size: 12px;
}

@keyframes popup {
    from {
        transform: translateY(20px)
    }
    to {
        transform: translateY(0)
    }
}

//登陆注册
.sign {
    text-align: center;
    padding: 42px 28px;
    .nav {
        position: absolute;
        width: 100%;
        left: 0;
        top: 117px;
        z-index: 999999;
        li {
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            width: 40px;
            color: rgba(55, 55, 55, 0.80);
            border-bottom: 2px solid transparent;
            &.active {
                color: #00a69d;
                border-bottom: 2px solid #00a69d;
            }
        }
    }
    .sign_content {
        li {
            display: none;
            .form {
                margin-top: 25px;
                width: 100%;
                .input_content {
                    position: relative;
                    input {
                        display: block;
                        width: 100%;
                        height: 37px;
                        line-height: 37px;
                        font-size: 14px;
                        border: 1px solid rgba(56, 56, 56, 0.20);
                        border-bottom: none;
                        padding-left: 15px;
                    }
                    &:first-child {
                        input {
                            border-radius: 2px 2px 0 0;
                        }
                    }
                    &:last-child {
                        input {
                            border-radius: 0 0 2px 2px;
                            border-bottom: 1px solid rgba(56, 56, 56, 0.20);
                        }
                    }
                    .err_msg {
                        position: absolute;
                        right: 1px;
                        padding: 0 15px;
                        top: 8px;
                        font-size: 12px;
                        color: rgba(207, 2, 26, 0.80);
                        text-align: right;
                        line-height: 21px;
                        z-index: 997;
                        background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 8px);
                        opacity: 0;
                        transform: translateX(100%);
                        transition: all 300ms ease;
                        pointer-events: none;
                        &.active {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                    .get_verify_code {
                        cursor: pointer;
                        display: block;
                        position: absolute;
                        right: 1px;
                        top: 1px;
                        z-index: 998;
                        line-height: 35px;
                        background: #fff;
                        font-size: 12px;
                        text-align: center;
                        width: 80px;
                        color: rgba(0, 166, 156, 0.80);
                        transition: color 300ms ease;
                        &.disable {
                            color: rgba(56, 56, 56, 0.60);
                        }
                    }
                    &.get_verify_code_content {
                        .err_msg {
                            right: 81px;
                        }
                        input {
                            border-bottom: none;
                        }
                    }
                }
                .submit {
                    margin-top: 20px;
                    background: rgba(18, 172, 163, 0.80);
                    border: 1px solid #13aca4;
                    border-radius: 2px;
                    width: 100%;
                    height: 36px;
                    font-size: 14px;
                    color: #ffffff;
                    text-align: center;
                }
                .line {
                    margin-top: 10px;
                    text-align: left;
                    .c_container {
                        float: left;
                        line-height: 24px;
                        input {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 12px;
                            color: rgba(55, 55, 55, 0.60);
                        }
                    }
                    .forgot_pwd {
                        line-height: 24px;
                        float: right;
                        font-size: 12px;
                        color: rgba(55, 55, 55, 0.60);
                        text-align: left;
                        background: transparent;
                        transition: all 200ms ease;
                        &:hover {
                            color: #4A90E2;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .form.sign_form {
                margin-top: 84px;
            }
            &.active {
                display: block;
            }
            &.animate {
                animation: fadeLeft 300ms forwards;
            }
        }
    }
    .btn_back {
        display: block;
        cursor: pointer;
        position: absolute;
        background: url("../../assets/images/icon_back.png") no-repeat;
        background-size: 24px;
        width: 24px;
        height: 24px;
        left: 9px;
        top: 9px;
        transition: all 300ms ease;
    }
}

//投票
.pop_up_vote {
    width: 800px;
    padding: 30px;
    margin-left: -400px;
    h2.title {
        font-size: 20px;
        color: #2b2c2e;
    }
    .vote_textarea {
        padding: 10px;
        margin-top: 30px;
        display: block;
        width: 100%;
        height: 94px;
        border: 1px solid #979797;
    }
    .btn_vote {
        margin-top: 22px;
        display: block;
        float: right;
        width: 120px;
        height: 40px;
        background: #00a69d;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 14px;
    }
}

//头像上传
.avatar {
    width: 400px;
    height: 600px;
    margin-left: -200px;
    .img_upload_container {
        padding: 28px 47px;
        text-align: center;
        h5 {
            font-size: 34px;
            color: #000000;
            margin-bottom: 34px;
        }
        .avatar_container {
            display: block;
            margin: 0 auto;
            width: 295px;
            height: 295px;
            background: #f2f2f2;
            img {
                max-width: 100%;
            }
        }
        p {
            margin-top: 30px;
            font-size: 14px;
            color: #848484;
            text-align: justify;
        }
        .avatar_btn_container {
            margin-top: 40px;
            button {
                width: 145px;
                display: inline-block;
                border-radius: 5px;
                height: 40px;
                font-size: 18px;
            }
        }
        .confirm {
            background: #00a69d;
            color: #ffffff;
        }
        .cancle {
            border: 1px solid #00a69d;
            background: transparent;
            color: #00a69d;
        }
    }
}

//身份信息验证确认提示
.normal {
    width: 400px;
    margin-left: -200px;
    padding: 42px 28px;
    text-align: center;
    .confirm,
    .cancle {
        margin-top: 20px;
        background: rgba(18, 172, 163, 0.80);
        border: 1px solid #13aca4;
        border-radius: 2px;
        width: 200px;
        height: 36px;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
    }
}

@keyframes fadeLeft {
    from {
        transform: translateX(100px);
        opacity: 0.8;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
