// 简介
.introduction {
    h1.title {
        margin-bottom: 20px;
    }
    .summary {
        font-size: 14px;
        color: #4a4a4a;
        line-height: 25px;
    }
    .introduction_details_container {
        margin-top: 15px;
        font-size: 0;
        .introduction_details_content {
            margin-top: 15px;
            display: inline-block;
            width: 50%;
            vertical-align: top;
            font-size: 12px;
            .title {
                display: inline-block;
                width: 60px;
                color: #9B9B9B;
            }
            .content {
                color: #4A4A4A;
                transition: color 300ms ease;
                &:hover {
                    color: #00a69d;
                }
            }
        }
    }
}
