.user_identify_container {
    .no_identify_container {
        padding-top: 85px;
        h3 {
            font-size: 22px;
            color: #2B2C2E;
            text-align: center;
        }
        p {
            margin-top: 10px;
            font-size: 16px;
            color: #9B9B9B;
            text-align: center;
        }
        .start_identify {
            display: block;
            text-align: center;
            margin: 20px auto;
            width: 228px;
            height: 43px;
            line-height: 43px;
            font-size: 14px;
            color: #fff;
            background: #00a69d;
        }
    }
    .start_identify_container {
        padding-top: 45px;
        font-size: 0;
        .start_identify_content {
            padding-left: 20px;
            display: inline-block;
            width: 50%;
            font-size: 14px;
            .go_identify {
                display: block;
                position: relative;
                width: 270px;
                height: 44px;
                border-radius: 2px;
                background: #00a69d;
                font-size: 18px;
                color: #fff;
                text-align: center;
                line-height: 44px;
                font-weight: 200;
                &:after {
                    content: ">";
                    position: absolute;
                    right: 8px;
                }
            }
            .inner {
                padding-left: 30px;
                margin-top: 20px;
                .info {
                    font-size: 14px;
                    color: #9B9B9B;
                }
                ul {
                    margin-top: 10px;
                    li {
                        padding-left: 40px;
                        line-height: 45px;
                        position: relative;
                        color: #2B2C2E;
                        font-size: 18px;
                        &::before {
                            content: "";
                            width: 16px;
                            height: 16px;
                            border-radius: 100%;
                            background: #D8D8D8;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -8px;
                        }
                    }
                }
                .download {
                    padding-left: 40px;
                    background: transparent;
                    color: #4A90E2;
                    font-size: 14px;
                }
            }
        }
    }
    .character_choose_container {
        .character_choose_title {
            color: #2B2C2E;
            font-size: 22px;
            text-align: center;
            margin-bottom: 10px;
        }
        .character_choose_form {
            padding: 0 30px;
            font-size: 0;
            position: relative;
            .character_choose_subtitle {
                color: #2b2c2e;
                font-size: 18px;
                .sub_info {
                    color: #9B9B9B;
                    font-size: 14px;
                    font-weight: 200;
                }
            }
            .err_msg {
                display: none;
                font-size: 14px;
                position: absolute;
                top: 13px;
                right: 40px;
                color: #bb4945;
            }
            .character_checkbox_container {
                display: inline-block;
                width: 20%;
                text-align: center;
            }
            input[type=checkbox] {
                display: none;
            }
            input[type=checkbox]+label {
                display: inline-block;
                border-radius: 5px;
                margin: 10px 0;
                width: 100px;
                text-align: center;
                line-height: 30px;
                height: 30px;
                border: 1px solid #9b9b9b;
                color: #979797;
                font-size: 14px;
                transition: all 300ms ease;
                &:hover {
                    border: 1px solid #00a69d;
                    color: #00a69d;
                }
            }
            input[type=checkbox]:checked + label {
                background: #00a69d;
                border: 1px solid #00a69d;
                color: #fff;
            }
            input[type=submit] {
                margin-top: 100px;
            }
        }
    }
    .user_identify_info_container {
        padding: 0 30px;
        font-size: 0;
        .sub_title {
            margin-top: 30px;
            font-size: 14px;
            color: #2B2C2E;
            margin-bottom: 10px;
        }
        .input_content {
            display: inline-block;
            vertical-align: bottom;
            width: 50%;
            font-size: 14px;
            .info_label {
                margin-top: 30px;
                color: #9B9B9B;
                i {
                    color: #bb4945;
                }
            }
            input {
                margin-top: 5px;
                margin-bottom: 12px;
                width: 270px;
            }
            input[type=file] {
                display: none;
            }
            .img_upload {
                position: relative;
                margin-top: 22px;
                display: inline-block;
                height: 120px;
                width: 270px;
                border: 1px dashed #9B9B9B;
                text-align: center;
                font-size: 14px;
                color: #D8D8D8;
                transition: all 300ms ease;
                &:hover {
                    border: 1px dashed #00a69d;
                    color: #00a69d;
                }
                &::before {
                    content: '+';
                    display: block;
                    font-size: 40px;
                    line-height: 65px;
                }
            }
        }
        .input_content.whole_line{
            display:block;
        }
        input[type=submit]{
            margin-top: 100px;
        }
    }
}
