.user_identify_container {
    .state_identify_container {
        padding: 85px 30px;
        h3 {
            font-size: 22px;
            color: #2B2C2E;
            text-align: center;
        }
        p {
            margin-top: 10px;
            font-size: 16px;
            color: #9B9B9B;
            text-align: center;
        }
        .start_identify {
            display: block;
            text-align: center;
            margin: 20px auto;
            width: 228px;
            height: 43px;
            line-height: 43px;
            font-size: 14px;
            color: #fff;
            background: #00a69d;
        }
        .identify_verify_code {
            width: 270px;
            display: block;
            margin: 0 auto;
            position: relative;
            .err_msg {
                position: absolute;
                top: -60px;
                width: 270px;
                display: block;
                text-align: left;
                background: #f2dede;
                border: 1px solid #efd3d7;
                border-radius: 3px;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                color: #bb4945;
                padding-left: 19px;
            }
            .identify_verify_input {
                margin-top: 80px;
            }
            input[type=submit] {
                margin-top: 20px;
                display: block;
                float: none;
                border-radius: 5px;
                width: 100%;
                height: 43px;
                font-size: 18px;
                text-align: center;
                background: transparent;
                border: 1px solid #00a69d;
                color: #00a69d;
                transition: all 300ms ease;
            }
        }
        .hint {
            margin-top: 16px;
            text-align: center;
            position: relative;
            p {
                cursor: pointer;
                display: inline;
                font-size: 14px;
                color: #4A90E2;
                text-decoration: underline;
                span {
                    text-align: left;
                    padding: 7px;
                    width: 270px;
                    right: -178px;
                    top: -2px;
                    display: none;
                    position: absolute;
                    font-size: 12px;
                    color: #FFFFFF;
                    letter-spacing: 0px;
                    line-height: 20px;
                    background: #4A4A4A;
                    &::after {
                        content: '';
                        left: -4px;
                        top: 10px;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-right: 4px solid #4a4a4a;
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid transparent;
                    }
                }
                &:hover {
                    span {
                        display: block;
                    }
                }
            }
        }
        .identify_success_container {
            width: 505px;
            margin: 0 auto;
            .title {
                height: 48px;
                color: #00a69d;
                font-size: 26px;
                text-align: center;
                line-height: 48px;
                background: #F9F9F9;
            }
            .infos_container {
                margin-top: 2px;
                background: url("http://o6qhdb7kv.bkt.clouddn.com/Group%202.png") 98% 90% no-repeat, #F9f9f9;
                padding: 23px;
                font-size: 0;
                padding-right: 30%;
                .info_content {
                    display: inline-block;
                    width: 50%;
                    margin: 10px 0;
                    .info_title {
                        text-align: left;
                        color: #9b9b9b;
                        font-size: 14px;
                    }
                    .info_value {
                        text-align: left;
                        color: #2B2C2E;
                        font-size: 14px;
                    }
                }
            }
        }
        .submit {
            margin-top: 30px;
        }
    }
    .start_identify_container {
        padding-top: 45px;
        font-size: 0;
        .start_identify_content {
            padding-left: 20px;
            display: inline-block;
            width: 50%;
            font-size: 14px;
            .go_identify {
                display: block;
                position: relative;
                width: 270px;
                height: 44px;
                border-radius: 2px;
                background: #00a69d;
                font-size: 18px;
                color: #fff;
                text-align: center;
                line-height: 44px;
                font-weight: 200;
                &:after {
                    content: ">";
                    position: absolute;
                    right: 8px;
                }
            }
            .inner {
                padding-left: 30px;
                margin-top: 20px;
                .info {
                    font-size: 14px;
                    color: #9B9B9B;
                }
                ul {
                    margin-top: 10px;
                    li {
                        padding-left: 40px;
                        line-height: 45px;
                        position: relative;
                        color: #2B2C2E;
                        font-size: 18px;
                        &::before {
                            content: "";
                            width: 16px;
                            height: 16px;
                            border-radius: 100%;
                            background: #D8D8D8;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -8px;
                        }
                    }
                }
                .download {
                    padding-left: 40px;
                    background: transparent;
                    color: #4A90E2;
                    font-size: 14px;
                }
            }
        }
    }
    .character_choose_container {
        .character_choose_title {
            color: #2B2C2E;
            font-size: 22px;
            text-align: center;
            margin-bottom: 10px;
        }
        .character_choose_form {
            padding: 0 30px;
            font-size: 0;
            position: relative;
            .character_choose_subtitle {
                color: #2b2c2e;
                font-size: 18px;
                .sub_info {
                    color: #9B9B9B;
                    font-size: 14px;
                    font-weight: 200;
                }
            }
            .err_msg {
                display: none;
                font-size: 14px;
                position: absolute;
                top: 13px;
                right: 40px;
                color: #bb4945;
            }
            .character_checkbox_container {
                display: inline-block;
                width: 20%;
                text-align: center;
            }
            input[type=checkbox] {
                display: none;
            }
            input[type=checkbox]+label {
                display: inline-block;
                border-radius: 5px;
                margin: 10px 0;
                width: 100px;
                text-align: center;
                line-height: 30px;
                height: 30px;
                border: 1px solid #9b9b9b;
                color: #979797;
                font-size: 14px;
                transition: all 300ms ease;
                &:hover {
                    border: 1px solid #00a69d;
                    color: #00a69d;
                }
            }
            input[type=checkbox]:checked + label {
                background: #00a69d;
                border: 1px solid #00a69d;
                color: #fff;
            }
            input[type=submit] {
                margin-top: 100px;
            }
        }
    }
    .user_identify_info_container {
        padding: 0 30px;
        font-size: 0;
        .sub_title {
            margin-top: 30px;
            font-size: 14px;
            color: #2B2C2E;
            margin-bottom: 10px;
        }
        .input_content {
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            width: 50%;
            font-size: 14px;
            .err_msg {
                font-size: 14px;
                position: absolute;
                top: 30px;
                right: 30px;
                color: #bb4945;
            }
            .info_label {
                margin-top: 30px;
                color: #9B9B9B;
                i {
                    color: #bb4945;
                }
            }
            input {
                margin-top: 5px;
                margin-bottom: 12px;
                width: 270px;
            }
            input[type=file] {
                display: none;
            }
            .img_upload {
                position: relative;
                margin-top: 22px;
                display: inline-block;
                height: 120px;
                width: 270px;
                border: 1px dashed #9B9B9B;
                text-align: center;
                font-size: 14px;
                color: #D8D8D8;
                transition: all 300ms ease;
                &:hover {
                    border: 1px dashed #00a69d;
                    color: #00a69d;
                }
                &::before {
                    content: '+';
                    display: block;
                    font-size: 40px;
                    line-height: 65px;
                }
            }
        }
        .input_content.whole_line {
            display: block;
        }
        input[type=submit] {
            margin-top: 100px;
        }
    }
    .c_bank_info_container {
        font-size: 0;
        .sub_title {
            color: #2B2C2E;
            font-size: 14px;
            margin-top: 30px;
        }
        .bank_form {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            font-size: 14px;
            .input_content {
                .info_label {
                    color: #9B9B9B;
                    margin-top: 12px;
                }
                input {
                    margin-top: 5px;
                    width: 270px;
                }
            }
        }
        .our_bank_info {
            margin-top: 12px;
            color: #9b9b9b;
            display: inline-block;
            vertical-align: top;
            width: 50%;
            font-size: 14px;
            .our_bank_info_content {
                background: #F6F6F6;
                padding: 22px 15px;
                h6 {
                    color: #9b9b9b;
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
        .text {
            text-align: center;
            font-size: 15px;
            color: #878787;
            margin-top: 30px;
        }
        input[type=submit] {
            margin-top: 100px;
        }
        .go_prev {
            margin-top: 100px;
            float: right;
            cursor: pointer;
            display: block;
            float: right;
            border: none;
            background: #19a69d;
            width: 120px;
            height: 40px;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            line-height: 40px;
            margin-right: 30px;
        }
    }
}
